.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 25px;
}

#home-hero {
  background-image: url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?auto=format&fit=crop&w=1600&q=80");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 425px;
}

html,
body {
  height: 100%;
}

body {
  min-height: 100vh;
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

.field_with_errors {
  display: contents;
}

#sticky-footer {
  flex-shrink: 0;
}
